<h2>Por Pais</h2>

<hr>

<div class="row">
  <div class="col">
    <!--Search Box-->
    <shared-search-box
      (onDebounce)="searchByCountry($event)"
      placeholder="Buscar por país"
      [initialValue]="initialValue"
      >
    </shared-search-box>
  </div>
</div>

<div class="row">
  <div class="col">
    <!--Tabla Resultados-->
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>

  </div>
</div>
